* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}


h2{ 
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

body{
    display:grid;
    
}
aside {
    display: flex; 
    flex-direction: column;
    gap: 3rem;
    position: relative;

}

/* dots in de aside */
aside > time::after {
    content: "--------";
    display: block;
    position: absolute;
    rotate: 90deg;
    margin-top: .8rem;
    margin-left: -.4rem;
    color: #292929;
}


article{
    border-radius: 0.875em;
    margin-bottom:9px;
    margin-left:10%;
    max-width: 33em;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: auto auto;
    min-height: calc(6em * var(--duration));

    header {
        grid-column: 2;
        margin-right:3%;

        h2, p {
            margin-top:0.30em;
        }
    }

    img {
        width: 90px;
        height: 90px;
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
        margin-top:1.25em;
        border-radius:50%;
    }

    footer {
        grid-column: 2;
        display: grid;
        grid-template-rows: 50px 50px;
        grid-template-columns: 1fr 100px;
        
        ul{
            list-style-type: none;
            time{
                margin-top:4em;
            }
        }
        a{
            color:grey;
            justify-self:right;
            text-decoration: none;
            margin-top:3em;
            margin-right:0.75em;
            grid-column-start:2;
        }
    }
    @media (max-width: 40em) {
        margin-left:1%;
    }
}

/* structuur meerdere programmering's naast elkaar. iets met flex direction column */
ol:first-of-type{

}


/* article:nth-of-type(even){
    background-color:black;
    h2, p{
        color:white;
    }
    footer li{
        color:grey;
    }
} */